/TestTrain/nbproject/private/
/TestTrain/build/
/MedicalDemo/nbproject/private/
/MedicalDemo/build/
/GameDemo/build/
/EmployeeTest/nbproject/private/
/EmployeeTest/build/
/StudentTest/nbproject/private/
/StudentTest/build/
/CodeTest/nbproject/private/
/CodeTest/build/
/SalaryDemo/nbproject/private/
/SalaryDemo/build/
/BatsmanSelection/nbproject/private/
/BatsmanSelection/build/
/StudentDemo/nbproject/private/
/StructureTest/nbproject/private/
/StructureTest/build/
/LibraryManager/nbproject/private/
/LibraryManager/build/
/GameLibrary/nbproject/private/
/GameLibrary/build/
/SimpleStudentManager/nbproject/private/
/HospitalEmployee/nbproject/private/
/Hospital/nbproject/private/
/Hospital/build/
/StudentValidationSystem/nbproject/private/
/DeliverySystem/nbproject/private/
/DeliverySystem/build/
/LibrarySystem/nbproject/private/
/LibrarySystem/build/
/RestaurantSystem/nbproject/private/
/RestaurantSystem/build/
/StudentManagementSystem/nbproject/private/
/StudentManagementSystem/build/
